.git
.gitmodules
.DS_Store
.cache
.docker_cache
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd

data/
docs/legacy/

notebooks/outputs/
notebooks/runs/
outputs/
runs/
logs/

scripts/__pycache__/
notebooks/__pycache__/
Spanish_Psych_Phenotyping_PY/__pycache__/

main.log
