# Datos sensibles
data/*
!data/README.md

# Entornos y temporales
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.env

.venv/

# Carpeta de checkpoints del Trainer
data/beto_ckpt/

# Alternativas comunes
notebooks/runs/